.app {
  background-color: #e6e7eb;
}
.app_body {
  display: flex;
  width: 100%;
}
.body1 {
  flex: 0.19;
  height: 100vh;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 10px;
}
.body2 {
  flex: 0.58;
}
.body3 {
  flex: 0.25;
  margin-top: 15px;
  margin-right: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
