.login {
  background-color: white;
  height: 7vh;
  border-bottom: 1px solid white;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}
.buttons > button {
  margin: 10px;
  border-radius: 2.5rem;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f58634;
  color: white;
}
