.sport {
  display: flex;
  margin-top: 2px;
  background-color: white;
  width: 103%;
  height: 3rem;
  align-items: center;
  color: #4b4b4d;
  border-radius: 4px;
}

.sport-icon {
  flex: 0.15;
  padding-right: 10px;
}
.sport-title {
  flex: 0.65;
  font-weight: 800;
}
.sport-number {
  flex: 0.2;
  font-size: 11px;
}
